table  thead th {
  color: #909399;
  font-size: 14px;
}
table tbody td {
  color: #606266;
  font-size: 14px;
}

.theme-default-content pre, .theme-default-content pre[class*="language-"] {
  margin:0;
  border-radius: 0;
}
.sidebar-group .sidebar-heading {
  font-size: 1em;
}